# dependencies
node_modules/

.env
# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Android/iOS native build folders
/android/
#/ios/

# Native build artifacts & credentials
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Miscellaneous system files
*.orig.*
.DS_Store
*.pem

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

.env.local
